@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputAutoFill {
    &:-webkit-autofill {
      box-shadow: 0 0 0 30px #000 inset;
      -webkit-text-fill-color: #fff;
      -moz-text-fill-color: #fff;
    }

    &:-webkit-autofill:hover {
      box-shadow: 0 0 0 30px #000 inset;
      -webkit-text-fill-color: #fff;
      -moz-text-fill-color: #fff;
    }

    &:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff;
      -moz-text-fill-color: #fff;
    }

    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px #000 inset;
      -webkit-text-fill-color: #fff;
      -moz-text-fill-color: #fff;
    }
  }
}
